<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Welcome to the Sample Application</h1>
	<p>This is the sample application from Ruby on Rails tutorial written by Michael Hartl</p>
	<%= link_to 'Sign Up Now!', signup_path, class: "btn btn-lg btn-primary"  %>
</div>